@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", Georgia, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

/* Custom visual novel fine-tunning styles */
.text-stroke-custom {
  -webkit-text-stroke: 1px rgba(0,0,0,0.8);
}

